.words-page{
    padding:2vw 9vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.word-card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    overflow: hidden;
    max-width: 100%;
    width: 300px;
    height: 350px;
    margin-bottom: 4vh;
    padding: 2vw;
    align-items: center;
    form {
        display: grid;
    }
}